* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: beige;
    display: flex;
    flex-direction: column;
}

header {
    top: 0;
    right: 0;
    width: 100%;
    height: 10vh;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: black;
}

.nav-list {
    display: flex;
}

.nav-list a {
    margin-left: 60px;
    font-size: 15px;
    font-weight: 400;
    color: black;
    border-bottom: 3px dotted transparent;
    transition: all .5s ease;
}

.nav-list a:hover {
    border-bottom: 2px dotted black;
}

#login-btn {
    color: white;
    background: black;
    padding: 8px 20px;
    border-radius: 10px;
    transition: all .3s ease;
    text-align: center;
}

#login-btn:hover {
    background: red;
}

.booking-card-section {
    height: 70vh;
    width: 100%;
    background-image: url(../images/booking-card-section.jpg);
    background-size: cover;
    background-position: center; /* Center the background image */
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking-card {
    padding: 0 30px;
    height: 80%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-text {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: black;
    margin-bottom: 12px
}