* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #FDF5E6;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23ffe4c4' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23ffe4c4' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23fce8c8' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23fee4be' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23faebcc' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23fbe5b9' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23f8efd1' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23f8e6b3' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23f6f2d7' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23f3e7ae' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23f5f5dc' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23eee8aa' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

header {
    top: 0;
    right: 0;
    width: 100%;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: black;
}

.log-in-button {
    background: transparent;
    border: 1px solid transparent;
    padding: 8px 20px;
    color: black;
    border-radius: 10px;
    transition: all .3s ease;
}

.log-in-button:hover {
    background: black;
    color: white;
    padding: 8px 20px;
}

.sign-up-button {
    background: transparent;
    border: 1px solid black;
    padding: 8px 20px;
    color: black;
    border-radius: 10px;
    transition: all .3s ease;
}

.sign-up-button:hover {
    background: black;
    color: white;
    padding: 8px 20px;
}

.main-section {
    padding: 0;
    top: 0;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    padding: 0 10%;
}

.main-section-text {
    margin: 0;
}

.main-section-text div {
    margin-bottom: 30px;
}

.main-section-text p {
    font-size: 55px;
    font-weight: 700;
}

.all-services-btn {
    background: black;
    padding: 8px 30px;
    margin-bottom: 30px;
    color: white;
    border-radius: 10px;
    display: inline-block;
    transition: all .3s ease;
}

.all-services-btn:hover {
    background: white;
    color: black;
}

.main-section-text .clients {
    font-size: 18px;
    font-weight: 500;
}

.main-section img {
    background-color: greenyellow;
    max-width: 100%;
    height: 100%;
    border-radius: 30px;
}

.main-section-image {
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto
}

select {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}

.attributes-section {
    position: relative;
    height: 100%;
    width: 100%;
    height: 100vh;
    padding: 5% 10%;
    display: block;
    place-items: center;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    gap: 5rem;
}

.section-title {
    font-size: 30px;
    font-weight: 700;
    color: black;
    text-align: center;
}

.attributes {
    height: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
}

.att-card {
    height: 45%;
    background: black;
    color: white;
    display: grid;
    padding: 40% 10%;
    place-content: center;
    border-radius: 10px;
    text-align: left;
    font-size: 15px;
}

.att-title {
    margin: 20px 0 10px 0;
    font-size: 20px;
}

.att-icon {
    height: 20%;
}

.testimonials-section {
    height: 70%;
    width: 100%;
    height: 100vh;
    padding: 0 10%;
    display: block;
    place-items: center;
    /* text-align: center; */
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    gap: 5rem;
}

.testimonials {
    height: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
}

.testimonial-card {
    background: black;
    color: white;
    padding: 30px;
    border-radius: 20px;
}

.testimonial-card .info {
    display: flex;
    align-items: center;
}

.testimonial-card .image {
    background: red;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.testimonial-card p {
    margin-top: 20px;
}

.testimonial-card .rating {
    color: gold;
}

footer {
    padding: 20px 0;
    background: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 15px;
}

footer p .github-username {
    color: burlywood;
}