<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>name</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <header class="header">
        <a class="logo" href="">LOGO</a>
        <ul class="nav-list">
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact Us</a></li>
        </ul>
        <a class="log-in-button" href="">Log in</a>
    </header>
    <section class="main-section">
        <div class="main-section-text">
            <div>
                <p>Book On-Demand</p>
                <p>Home Services</p>
                <p>in Your City</p>
            </div>
            <a class="all-services-btn" href="">All Services</a>
            <p class="clients">5K+ Happy Clients</p>
        </div>
        <div class="main-section-image">
            <img src="../public/images/technicians.jpg" alt="technicians">
        </div>
    </section>
    <section class="booking-section">
        <div class="booking-card">
            <p  class="booking-card-text">Book A Service!</p>
            <div>
                <select name="" id="">
                    <option value="" disabled selected>Choose as service</option>
                    <option value=""> service1</option>
                    <option value="">servicedfdfdfdfffd2servicedfdfservicedfdfdfdfffd2servicedfdfdfdfffd2dfdfffd2servicedfdfdfdfffd2</option>
                </select>
                <a class="book-btn" href="">Book</a>
            </div>
        </div>
    </section>
    <section class="attributes-section">
        <div class="att-card">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, totam! Ipsam veritatis fuga doloribus est beatae molestiae excepturi, impedit ad neque nam maxime. Placeat non molestias dolores dolor quibusdam! Rerum?</p>
        </div>
        <div class="att-card">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, totam! Ipsam veritatis fuga doloribus est beatae molestiae excepturi, impedit ad neque nam maxime. Placeat non molestias dolores dolor quibusdam! Rerum?</p>
        </div>
        <div class="att-card">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, totam! Ipsam veritatis fuga doloribus est beatae molestiae excepturi, impedit ad neque nam maxime. Placeat non molestias dolores dolor quibusdam! Rerum?</p>
        </div>
    </section>
</body>
</html>