<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ServEase</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/main.css"></link>
</head>
<body>
    <header class="header">
        <a class="logo" href="">ServEase</a>
        <ul class="nav-list">
            <li><a href="">About</a></li>
            <li><a href="">Contact Us</a></li>
        </ul>
        <a href="http://localhost:5000/api/auth/logout">
            <div id="login-btn">
                Log out
                <i class='bx bx-log-out' style='color:#ffffff'  ></i>
            </div>
        </a>
    </header>
    <section class="banner">
        <h2 class="banner-text">Reliable Home Services, Exceptional Results 👌🏽</h2>
    </section>
</body>
</html>